In [1]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Import Data
csv = pd.read_csv('Population/Population - Cleaned.csv')

In [3]:
# Clean
pop = csv.drop(columns=['Unnamed: 0', '2020'])
#pop

In [4]:
# Rename Columns
cols = ['Country', 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 
        2013, 2014, 2015, 2016, 2017, 2018, 2019]
pop.columns = cols
#pop

In [5]:
pop = pop.astype({1990: int, 1991: int, 1992: int, 1993: int, 1994: int, 1995: int, 1996: int, 1997: int, 1998: int, 1999: int, 2000: int, 2001: int, 2002: int,
                  2003: int, 2004: int, 2005: int, 2006: int, 2007: int, 2008: int, 2009: int, 2010: int, 2011: int, 2012: int, 2013: int, 2014: int, 2015: int,
                  2016: int, 2017: int, 2018: int, 2019: int})
#pop

In [6]:
# Switch Columns and Rows
transpose = pop.T
#transpose

In [7]:
transpose.columns = transpose.iloc[0]
#transpose

In [8]:
transpose = transpose.drop(transpose.index[0])
#transpose

In [9]:
transpose.reset_index(inplace=True)

In [10]:
newDF = transpose.copy()
#newDF

In [11]:
newDF = newDF.rename_axis(None, axis=1)
#newDF

In [12]:
newDF = newDF.rename({'index' : 'Year', 'Russian Federation': 'Russia'}, axis='columns')
#newDF

In [13]:
cleaned = newDF.astype(int)
cleaned

,Year,Australia,Canada,Japan,Russia,Spain,Turkey,United States,United Kingdom,Switzerland,New Zealand
0,1990,17065100,27691138,123537000,147969407,38867322,53921760,249623000,57247586,6715519,3329800
1,1991,17284000,28037420,123921000,148394216,38966376,54840590,252981000,57424897,6799978,3495100
2,1992,17495000,28371264,124229000,148538197,39157685,55748948,256514000,57580402,6875364,3531700
3,1993,17667000,28684764,124536000,148458777,39361262,56653804,259919000,57718614,6938265,3572200
4,1994,17855000,29000663,124961000,148407912,39549108,57564204,263126000,57865745,6993795,3620000
5,1995,18072000,29302311,125439000,148375787,39724050,58486456,266278000,58019030,7040687,3673400
6,1996,18311000,29610218,125757000,148160129,39889852,59423282,269394000,58166950,7071850,3732000
7,1997,18517000,29905948,126057000,147915361,40057389,60372568,272657000,58316954,7088906,3781300
8,1998,18711000,30155173,126400000,147670784,40223509,61329676,275854000,58487141,7110001,3815000
9,1999,18926000,30401286,126631000,147214776,40386875,62287397,279040000,58682466,7143991,3835100
10,2000,19153000,30685730,126843000,146596869,40567864,63240194,282162411,58892514,7184250,3857700
11,2001,19413000,31020902,127149000,145976482,40850412,64192243,284968955,59119673,7229854,3880500
12,2002,19651400,31360079,127445000,145306497,41431558,65145367,287625193,59370479,7284753,3948500
13,2003,19895400,31644028,127718000,144648618,42187645,66089402,290107933,59647577,7339001,4027200
14,2004,20127400,31940655,127761000,144067316,42921895,67010930,292805298,59987905,7389625,4087500
15,2005,20394800,32243753,127773000,143518814,43653155,67903469,295516599,60401206,7437115,4133900
16,2006,20697900,32571174,127854000,143049637,44397319,68756810,298379912,60846820,7483934,4184600
17,2007,20827600,32889025,128001000,142805114,45226803,69581848,301231207,61322463,7551117,4223800
18,2008,21249200,33247118,128063000,142742366,45954106,70418604,304093966,61806995,7647675,4259800
19,2009,21691700,33628895,128047000,142785349,46362946,71321399,306771529,62276270,7743831,4302600
20,2010,22031750,34004889,128070000,142849468,46576897,72326988,309321666,62766365,7824909,4350700
21,2011,22340024,34339328,127833000,142960908,46742697,73443863,311556874,63258810,7912398,4384000
22,2012,22733465,34714222,127629000,143201721,46773055,74653016,313830990,63700215,7996861,4408100
23,2013,23128129,35082954,127445000,143506995,46620045,75928564,315993715,64128273,8089346,4442100
24,2014,23475686,35437435,127276000,143819666,46480882,77231907,318301008,64602298,8188649,4509700
25,2015,23815995,35702908,127141000,144096870,46444832,78529409,320635163,65116219,8282396,4595700
26,2016,24190907,36109487,126994511,144342396,46484062,79821724,322941311,65611593,8373338,4693200
27,2017,24601860,36543321,126785797,144496740,46593236,81101892,324985539,66058859,8451840,4793900
28,2018,24982688,37057765,126529100,144477860,46797754,82319724,326687501,66460344,8514329,4841000
29,2019,25364307,37589262,126264931,144373535,47076781,83429615,328239523,66834405,8574832,4917000

In [14]:
# Australia
X = cleaned['Year'].values.reshape(-1, 1)
y = cleaned['Australia']

print('Australia: ', X.shape, y. shape)

Australia:  (30, 1) (30,)

In [15]:
# Start Machine Learning
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=29)

In [16]:
# Linear Regression
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [17]:
# Train Model
model.fit(X_train, y_train)

LinearRegression()

In [18]:
# Score
model.score(X_test, y_test)

0.9825744206358772

In [19]:
# Australia: Predictions vs Actual
predictions = model.predict(X)
print(f"True output: {y[0]}")
print(f"Predicted output: {predictions[0]}")
print(f"Prediction Error: {predictions[0]-y[0]}")

True output: 17065100
Predicted output: 16571748.55504775
Prediction Error: -493351.4449522495

In [20]:
pd.DataFrame({"Predicted": predictions, "Actual": y, "Error": predictions - y})[["Predicted", "Actual", "Error"]]

       Predicted    Actual          Error
0   1.657175e+07  17065100 -493351.444952
1   1.685416e+07  17284000 -429841.858642
2   1.713657e+07  17495000 -358432.272331
3   1.741898e+07  17667000 -248022.686021
4   1.770139e+07  17855000 -153613.099711
5   1.798380e+07  18072000  -88203.513400
6   1.826621e+07  18311000  -44793.927090
7   1.854862e+07  18517000   31615.659221
8   1.883103e+07  18711000  120025.245531
9   1.911343e+07  18926000  187434.831841
10  1.939584e+07  19153000  242844.418152
11  1.967825e+07  19413000  265254.004462
12  1.996066e+07  19651400  309263.590773
13  2.024307e+07  19895400  347673.177083
14  2.052548e+07  20127400  398082.763394
15  2.080789e+07  20394800  413092.349704
16  2.109030e+07  20697900  392401.936014
17  2.137271e+07  20827600  545111.522325
18  2.165512e+07  21249200  405921.108635
19  2.193753e+07  21691700  245830.694946
20  2.221994e+07  22031750  188190.281256
21  2.250235e+07  22340024  162325.867566
22  2.278476e+07  22733465   51294.453877
23  2.306717e+07  23128129  -60959.959813
24  2.334958e+07  23475686 -126107.373502
25  2.363199e+07  23815995 -184006.787192
26  2.391440e+07  24190907 -276509.200882
27  2.419681e+07  24601860 -405052.614571
28  2.447922e+07  24982688 -503471.028261
29  2.476163e+07  25364307 -602680.441950

In [21]:
# Save Transposed Data
cleaned.to_csv('Population/Population_Transposed.csv')